<div class="quest-blackout" ng-click="close_modal()"></div>

<div class="quest-modal centre-modal">
  <button type="button" class="close" ng-click="closeModal()"><span>&times;</span></button>

  <div class="popover-menu" >
    <ul class="quest-floating-menu">
      <li>Search</li>
    </ul>
  </div>

  <div class="popover-main " >
  <div class="popover-main-wrapper">
    <div class="popover-left-column">
      <div ng-repeat="journal_entry in journal_entries" ng-class="{ 'label-info': $state.includes('journal.view_id', {entryId: journal_entry.id} )  }">
        <a ui-sref="journal.view_id({entryId: journal_entry.id})">
          {{journal_entry.title}}
        </a>
      </div>      
    </div>
    <div class="popover-right-column" ui-view></div>
  </div>
  </div>
  
</div>
