
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active: $state.includes('profile.view')}" ><a  ui-sref="profile.view">Public Profile</a></li>
        <li ng-class="{active:$state.includes('profile.personal_business_quest')}"><a  ui-sref="profile.personal_business_quest">Personal Business Quest</a></li>
        <li ng-class="{active:$state.includes('profile.focus_areas')}"><a  ui-sref="profile.focus_areas">Focus Areas</a></li>
        <li ng-class="{active:$state.includes('profile.notifications')}"><a  ui-sref="profile.notifications">Notifications</a></li>
      </ul>
    </div>

    <div class="row" >
      <div class="col-md-4" ui-view="profile-left-pane">
      </div>
      <div class="col-md-8" ui-view="profile-right-pane">
      </div>
    </div>