<a class="pull-right" ng-hide="profile_edit_mode" ng-click="setEditMode(true)">Edit</a>
<a class="pull-right" ng-show="profile_edit_mode" ng-click="setEditMode(false)">Cancel</a>
<h1>Public Profile </h1>

<div ng-hide="profile_edit_mode">
  
  <div>
    <h3>About me</h3>
    {{user.about_me}}
  </div>

  <div>
    <h3>Areas of interest</h3>
    {{user.areas_of_interest}}
  </div>

  <div>
    <h3>Education</h3>
    {{user.education}}
  </div>

  <div>
    <h3>My strengths/experiences</h3>
    {{user.strengths_experiences}}
  </div>

</div>


<form role="form" name="editProfileForm" ng-show="profile_edit_mode" ng-submit="setEditMode(false)" novalidate>
            
  <div class="form-group">
    <label for="fnameInput">First Name</label>
    <input class="form-control" id="fnameInput" placeholder="Enter your first name" ng-model="user.fname">
  </div>

  <div class="form-group">
    <label for="lnameInput">Last Name</label>
    <input class="form-control" id="lnameInput" placeholder="Enter your last name" ng-model="user.lname">
  </div>

  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" placeholder="Enter email" ng-model="user.email">
  </div>

  <div class="form-group">
    <label for="aboutMeInput">About me</label>
    <textarea class="form-control" id="aboutMeInput" placeholder="Tell us something about yourself" ng-model="user.about_me"></textarea>
  </div>

  <div class="form-group">
    <label for="areasOfInterestInput">Areas of interest</label>
    <textarea class="form-control" id="areasOfInterestInput" placeholder="Tell us what interests you" ng-model="user.areas_of_interest"></textarea>
  </div>

  <div class="form-group">
    <label for="educationInput">Education</label>
    <textarea class="form-control" id="educationInput" placeholder="Give some details about your education" ng-model="user.education"></textarea>
  </div>

  <div class="form-group">
    <label for="strengthsExperiencesInput">My strengths/experiences</label>
    <textarea class="form-control" id="strengthsExperiencesInput" placeholder="Tell us about your strengths and experiences" ng-model="user.strengths_experiences"></textarea>
  </div>

  <button type="submit" class="btn btn-default">Save</button>
  
</form>